.info-bg{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.btn-new{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #ff4891 0%, #FF136F 100%);
}